<template>
  <v-app>
    <v-container>
      <p>Personal Details</p>
      <smart-form :entity="personalDetails" @change="onChange"></smart-form>
      <v-container>{{newValue}}</v-container>
      <p class="my-3">Education collection below</p>
      <smart-form :entity="educations"></smart-form>
      <v-container>{{educations}}</v-container>
    </v-container>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import PersonalDetails from "./types/PersonalDetails";
import SmartForm from "../src/SmartForm.vue";
import Component from "vue-class-component";
import { EducationCollection } from "./types/Educations";

@Component({ components: { SmartForm } })
export default class App extends Vue {
  private personalDetails = new PersonalDetails();
  private educations = new EducationCollection();
  private newValue: any = this.personalDetails;
  private onChange(value: any) {
    this.newValue = value;
  }
}
</script>
