<template>
  <v-sheet>
    <v-form v-if="isEntityValid" :id="formId">
      <v-toolbar flat :dense="isSubForm" :color="isSubForm?'grey lighten-5':''">
        <v-toolbar-title>
          <div :class="entityNameClass">{{entityName}}</div>
          <div v-if="entityDesc" class="caption grey--text">{{entityDesc}}</div>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn v-if="entityAttributes.isCollection" icon @click="addCollectionItem">
            <v-icon color="green">add</v-icon>
          </v-btn>
          <v-btn v-if="isRemovable" icon @click="$emit('remove', rootKey)">
            <v-icon color="red">close</v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-container>
        <!-- Collection input -->
        <template v-if="entityAttributes.isCollection">
          <template v-for="(val, key) in entity">
            <div :key="key">
              <smart-form
                :entity="val"
                :root-key="key"
                :is-sub-form="true"
                @remove="removeCollectionItem"
                @change="$emit('change', entity)"
                :id-suffix="idSuffix"
                :is-removable="true"
              ></smart-form>
            </div>
          </template>
        </template>
        <template v-else>
          <template v-for="attr in propertyAttributes">
            <!-- Simple input -->
            <template v-if="!attr.isComposite && !attr.isCollection">
              <component
                :is="attr.type"
                v-bind="attr.props"
                :key="attr.key"
                v-model="entity[attr.key]"
                @change="entityPropUpdated(attr)"
              ></component>
            </template>
            <!-- Composite input -->
            <template v-else-if="attr.isComposite">
              <smart-form
                :entity="childCompositeEntity(attr.type, attr.key)"
                :root-key="attr.key"
                :key="attr.key"
                :is-sub-form="true"
                @change="$emit('change', entity)"
                :id-suffix="idSuffix"
              ></smart-form>
            </template>
          </template>
        </template>
      </v-container>
    </v-form>
  </v-sheet>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import uuid4 from "uuid/v4";
import { EntityOptions } from "./decorators";
import log from "loglevel";
import _ from "lodash";

@Component({ filters: { startCase: _.startCase } })
export default class SmartForm extends Vue {
  @Prop({ type: Object, required: true })
  private entity: any;
  // Used internally for recursion
  @Prop({ type: Boolean, required: false, default: false })
  private isSubForm!: boolean;
  // Used internally to pass the key for entity
  @Prop({ type: String, required: false, default: undefined })
  private rootKey?: string;
  // Suffix added to all smart-form instances.
  @Prop({ type: String, required: false, default: undefined })
  private idSuffix!: string;
  // Used internally to identify smart-forms that are part of collection
  @Prop({ type: Boolean, required: false, default: false })
  private isRemovable!: boolean;

  private isEntityValid = false;

  private get formId() {
    return "smartform" + (this.idSuffix ? `_${this.idSuffix}` : "") + (this.isSubForm ? `_${this.rootKey}` : "");
  }

  private get entityName() {
    return this.entity._SmartFormEntityAttributes &&
      this.entity._SmartFormEntityAttributes.name
      ? this.entity._SmartFormEntityAttributes.name
      : this.entity.toString();
  }

  private get toolbarClass() {
    return this.isSubForm ?
      "body-2 " + (this.isRemovable ? "" : "1font-weight-bold ")
      : "";
  }

  private get entityNameClass() {
    return this.isSubForm ?
      "body-2 " + (this.isRemovable ? "" : "font-weight-bold ")
      : "";
  }

  private get entityDesc() {
    return this.entity._SmartFormEntityAttributes.desc
      ? this.entity._SmartFormEntityAttributes.desc
      : "";
  }

  private get propertyAttributes() {
    let propAttrs = this.entity._SmartFormPropertyAttributes || {};
    propAttrs = Object.keys(propAttrs).map(k => {
      return Object.assign(propAttrs[k], { key: k });
    });
    return _.sortBy(propAttrs, ["order"]);
  }
  private get entityAttributes(): EntityOptions {
    return this.entity._SmartFormEntityAttributes || {};
  }

  private addCollectionItem() {
    const newObj = new (this.entityAttributes as any).type();
    Vue.set(this.entity, uuid4(), newObj);
    this.$emit("change", this.entity);
  }

  private removeCollectionItem(key: string) {
    if (confirm("Are you sure you want to remove this item?")) {
      Vue.delete(this.entity, key);
      this.$emit("change", this.entity);
    }
  }

  private entityPropUpdated(propAttributes: any) {
    if (this.entity[propAttributes.key] && propAttributes.filter) {
      if (!(typeof propAttributes.filter === "function")) {
        log.error("SmartForm: Invalid filter provided.", propAttributes);
      } else {
        try {
          this.entity[propAttributes.key] = propAttributes.filter(
            this.entity[propAttributes.key]
          );
        } catch (e) {
          log.error("SmartForm: Error running filter.", propAttributes, e);
        }
      }
    }
    this.$emit("change", this.entity);
  }

  private childCompositeEntity(type: any, key: string) {
    this.entity[key] = this.entity[key] || new type();
    return this.entity[key];
  }

  private created() {
    if (
      !this.entity ||
      !this.entity._SmartFormEntityAttributes ||
      !this.entity._SmartFormPropertyAttributes
    ) {
      if (!this.isSubForm) {
        log.error("SmartForm: Invalid entity supplied.");
      }
      else {
        log.warn("SmartForm: Please check your type definitions. Entity recieved by subform is not valid:",
          this.entity);
      }
    } else {
      this.isEntityValid = true;
    }
  }
}
</script>
